.logo {
  text-align: center;
}

.logo a {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  text-decoration: none;
  color: #333;
}

.logo img {
  height: 300px;
  width: 300px;
}
.logo {
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.09);
}
