.postImageWrapper {
  height: 450px;
  overflow: hidden;
}

.postImageWrapper img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.postImageWrapper {
  transition: all 0.2s ease-in-out;
}

.postImageWrapper:hover {
  transform: scale(1.01);
}
