.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.headerMenu a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: #565673;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.headerMenu a:hover {
  color: #5f9ea0;
}

.socialLinks {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  align-items: flex-end;
}

.socialLinks.active {
  width: 150px;
}

.socialLinks img {
  margin-left: 10px;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.4);
}
